# Backend
nectar-backend/venv/
nectar-backend/__pycache__/
nectar-backend/db.sqlite3

# Frontend
nectar-frontend/node_modules/
nectar-frontend/dist/
nectar-frontend/src/pages/sample.jsx

# Common
.env
__pycache__
*.pyc
run.bat